{{define "contactFooter"}}
<div class="flex justify-between text-[8px] md:text-sm mt-4">
  <div class="flex">
    <div class="border-r px-4">ITR 1</div>
    <div class="border-r px-4">Schema 0.41</div>
    <div class="px-4">Update Elements</div>
  </div>
  <div class="flex">
    <div class="border-r px-4">Contact</div>
    <a
      href="mailto:nivedita_gupta@arundataprocessing.co.in"
      class="text-blue-500 px-4 break-all"
      >nivedita_gupta@arundataprocessing.co.in</a
    >
  </div>
</div>

{{end}}
